<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ApiKey" value="596398f21df340cb986a39ab6a117be1"/>
    <add key="ApiRoot" value="http://api.gastracker.local/"/>
    <!--<add key="ApiRoot" value="http://localhost:63708/"/>-->
  </appSettings>
</configuration>